body {
    margin: 0;
    background-color: rgb(200, 200, 200);
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    place-items: center center;
  }
  
  .card-wrap {
    width: 60%;
    height: 80%;
    border: 1px solid black;
    position: relative;
  }
  
  .card {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: .3s;
  }
  
  .card>div {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
  }
  
  .card-wrap.active>.card {
    transform: rotateY(180deg);
  }
  
  .back {
    background-color: black;
    color: white;
    transform: rotateY(180deg);
  }
  
  .front {
    background-color: black;
    color: gray;
  }
  
  .good {
    border: 15px solid white;
    animation: border-color-change 7s infinite;
  }
  
  @keyframes border-color-change {
    0% {
      border-color: red;
    }
  
    14% {
      border-color: orange;
    }
  
    28% {
      border-color: yellow;
    }
  
    42% {
      border-color: green;
    }
  
    57% {
      border-color: blue;
    }
  
    71% {
      border-color: indigo;
    }
  
    85% {
      border-color: violet;
    }
  
    100% {
      border-color: red;
    }
  }